python-dotenv
langchain
langchain-core
langchain-classic
langchain-google-genai
langchain-chroma
langchain-text-splitters
chromadb
pypdf
fastapi
uvicorn
python-multipart
openai-whisper
langchain-anthropic